/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 13-ago-2018, 19:01:07
    Author     : Diego
*/
.op {
    opacity: 0.7;
}

.op:hover {
    opacity: 1.0;
}

.txcenter {
    position: absolute;
    bottom: 45% !important;
    top: auto !important;
    text-align: center !important;
    width: 100% !important;
}
